<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nightlybuilds.com" version="0.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!-- <widget id="com.phonegap.pearlroyale" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"> -->
    <name>Pearlroyale</name>
    <description>
    </description>
    <author email="info@pearlroyale.com" href="http://phonegap.com">
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name='phonegap-version' value='cli-6.5.0' />
    <!-- <preference name="phonegap-version" value="3.5.0" /> -->
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <!-- <gap:plugin name="org.apache.cordova.battery-status" /> -->
    <!-- <gap:plugin name="org.apache.cordova.camera" /> -->
    <!-- <gap:plugin name="org.apache.cordova.media-capture" /> -->
    <!-- <gap:plugin name="org.apache.cordova.console" /> -->
    <!-- <gap:plugin name="org.apache.cordova.contacts" /> -->
    <!-- <gap:plugin name="org.apache.cordova.device" /> -->
    <!-- <gap:plugin name="org.apache.cordova.device-motion" /> -->
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <!-- <gap:plugin name="org.apache.cordova.file" /> -->
    <!-- <gap:plugin name="org.apache.cordova.file-transfer" /> -->
    <!-- <gap:plugin name="org.apache.cordova.geolocation" /> -->
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <!-- <gap:plugin name="org.apache.cordova.vibration" /> -->

<!--     <icon src="ios/logo.jpg" width="57" height="57" />
    <icon src="ios/logo.jpg" platform="ios" width="57" height="57" density="mdpi" /> -->
    <!-- <icon src="www/img/icon.png" width="57" height="57" /> -->
<!--     <icon src="www/img/icon.png"  gap:platform="android" width="57" height="57" />
    <icon src="www/img/icon.png" platform="ios" width="57" height="57" density="mdpi" /> -->
<icon src="ios/icon.png" platform="android" width="57" height="57" density="mdpi" />
<icon src="ios/icon-60@3x.png" width="180" height="180" />
    <icon src="ios/icon-60.png" width="60" height="60" />
    <icon src="ios/icon-60@2x.png" width="120" height="120" />
    <icon src="ios/icon-76.png" width="76" height="76" />
    <icon src="ios/icon-76@2x.png" width="152" height="152" />
    <icon src="ios/icon-40.png" width="40" height="40" />
    <icon src="ios/icon-40@2x.png" width="80" height="80" />
    <icon src="ios/icon.png" width="57" height="57" />
    <icon src="ios/icon@2x.png" width="114" height="114" />
    <icon src="ios/icon-72.png" width="72" height="72" />
    <icon src="ios/icon-72@2x.png" width="144" height="144" />
    <icon src="ios/icon-small.png" width="29" height="29" />
    <icon src="ios/icon-small@2x.png" width="58" height="58" />
    <icon src="ios/icon-50.png" width="50" height="50" />
    <icon src="ios/icon-50@2x.png" width="100" height="100" /> 
    <access origin="*" />   
</widget>
